[submodule "agent-debug-ui"]
	path = agent-debug-ui
	url = git@github.com:sebps/agent-debug-ui.git
[submodule "agent-debug-landing"]
	path = agent-debug-landing
	url = git@github.com:sebps/agent-debug-landing.git
[submodule "agent-debug"]
	path = agent-debug
	url = git@github.com:sebps/agent-debug.git
[submodule "agent-debug-test"]
	path = agent-debug-test
	url = git@github.com:sebps/agent-debug-test.git
